In [1]:
import pandas as pd
import nltk
import numpy as np

# Get Data

In [41]:
review_reader = pd.read_json('yelp_academic_dataset_review.json', chunksize=1, lines=True)
i = 0
business_data
for chunk in review_reader:
    #print(chunk)
    business_data = chunk
    i = i+1
    if i==1:
        break
#business_data = pd.concat(df)
#print(type(chunk))
business_data

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,iCQpiavjjPzJ5_3gPD5Ebg,0,2011-02-25,0,x7mDIiDB3jEiPGPHOmDzyw,2,The pizza was okay. Not the best I've had. I p...,0,msQe1u7Z_XuqjGoqhB0J5g

In [43]:
business_id = business_data['business_id']
business_id = business_id[0]
business_id

'iCQpiavjjPzJ5_3gPD5Ebg'

In [63]:
review_reader = pd.read_json('yelp_academic_dataset_review.json', chunksize=1, lines=True)
i = 0
j = 0
df = []
for chunk in review_reader:
    #for c in chunk:
    if chunk['business_id'][j] == business_id:
        #print(chunk['business_id'][j])
        df.append(chunk)
        i = i+1
        if i==100:
            break
    j = j+1
    #if j==10000:
    #    break
review_data = pd.concat(df)

## Write data to json file

In [65]:
#review_data.to_json('review_data.json')

## Cleaning data

In [64]:
#review_data.head()
review_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 0 to 244151
Data columns (total 9 columns):
business_id    100 non-null object
cool           100 non-null int64
date           100 non-null datetime64[ns]
funny          100 non-null int64
review_id      100 non-null object
stars          100 non-null int64
text           100 non-null object
useful         100 non-null int64
user_id        100 non-null object
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 7.8+ KB

In [101]:
reviews = review_data.loc[:,['review_id','text']]
reviews.head()

,review_id,text
0,x7mDIiDB3jEiPGPHOmDzyw,The pizza was okay. Not the best I've had. I p...
788,VluIpojME0yKOcRKI5L0Iw,"came here on Monday, no line. its good, but no..."
3314,nsB9JAeghk0zOaSulSm9Yw,This place is truly a secret! Its so hidden t...
6726,pcn01EMERpCpHEcoaohdEg,This SECRET PIZZA was a secret for about 5 st...
8969,0mFtAPTmInbXHqDjX9eiOg,this is the BEST place to grab a quick slice o...

In [103]:
txt = []
for index,row in reviews.iterrows():
    text = row['text']
    text = text.split('. ')
    txt.extend(text)
txt
review_text = pd.DataFrame(txt, columns=['review'])
review_text.head()

                                              review
0                                 The pizza was okay
1                              Not the best I've had
2       I prefer Biaggio's on Flamingo / Fort Apache
3  The chef there can make a MUCH better NY style...
4  The pizzeria @ Cosmo was over priced for the q...

# Tokenize

In [6]:
#nltk.download('punkt')
tokens = nltk.word_tokenize(text)
print(tokens)

['The', 'pizza', 'was', 'okay', '.', 'Not', 'the', 'best', 'I', "'ve", 'had', '.', 'I', 'prefer', 'Biaggio', "'s", 'on', 'Flamingo', '/', 'Fort', 'Apache', '.', 'The', 'chef', 'there', 'can', 'make', 'a', 'MUCH', 'better', 'NY', 'style', 'pizza', '.', 'The', 'pizzeria', '@', 'Cosmo', 'was', 'over', 'priced', 'for', 'the', 'quality', 'and', 'lack', 'of', 'personality', 'in', 'the', 'food', '.', 'Biaggio', "'s", 'is', 'a', 'much', 'better', 'pick', 'if', 'youre', 'going', 'for', 'italian', '-', 'family', 'owned', ',', 'home', 'made', 'recipes', ',', 'people', 'that', 'actually', 'CARE', 'if', 'you', 'like', 'their', 'food', '.', 'You', 'dont', 'get', 'that', 'at', 'a', 'pizzeria', 'in', 'a', 'casino', '.', 'I', 'dont', 'care', 'what', 'you', 'say', '...']

# 3.1 POS Tagging

## Stopword removal

In [7]:
#nltk.download('stopwords')
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english')) 
filtered_text = [w for w in tokens if not w in stop_words] 
filtered_text

['The',
 'pizza',
 'okay',
 '.',
 'Not',
 'best',
 'I',
 "'ve",
 '.',
 'I',
 'prefer',
 'Biaggio',
 "'s",
 'Flamingo',
 '/',
 'Fort',
 'Apache',
 '.',
 'The',
 'chef',
 'make',
 'MUCH',
 'better',
 'NY',
 'style',
 'pizza',
 '.',
 'The',
 'pizzeria',
 '@',
 'Cosmo',
 'priced',
 'quality',
 'lack',
 'personality',
 'food',
 '.',
 'Biaggio',
 "'s",
 'much',
 'better',
 'pick',
 'youre',
 'going',
 'italian',
 '-',
 'family',
 'owned',
 ',',
 'home',
 'made',
 'recipes',
 ',',
 'people',
 'actually',
 'CARE',
 'like',
 'food',
 '.',
 'You',
 'dont',
 'get',
 'pizzeria',
 'casino',
 '.',
 'I',
 'dont',
 'care',
 'say',
 '...']

In [8]:
#nltk.download('averaged_perceptron_tagger')
tagged_text = nltk.pos_tag(filtered_text)
tagged_text

[('The', 'DT'),
 ('pizza', 'NN'),
 ('okay', 'NN'),
 ('.', '.'),
 ('Not', 'RB'),
 ('best', 'JJS'),
 ('I', 'PRP'),
 ("'ve", 'VBP'),
 ('.', '.'),
 ('I', 'PRP'),
 ('prefer', 'VBP'),
 ('Biaggio', 'NNP'),
 ("'s", 'POS'),
 ('Flamingo', 'NNP'),
 ('/', 'NNP'),
 ('Fort', 'NNP'),
 ('Apache', 'NNP'),
 ('.', '.'),
 ('The', 'DT'),
 ('chef', 'NN'),
 ('make', 'VBP'),
 ('MUCH', 'NNP'),
 ('better', 'JJR'),
 ('NY', 'NNP'),
 ('style', 'NN'),
 ('pizza', 'NN'),
 ('.', '.'),
 ('The', 'DT'),
 ('pizzeria', 'NN'),
 ('@', 'NNP'),
 ('Cosmo', 'NNP'),
 ('priced', 'VBN'),
 ('quality', 'NN'),
 ('lack', 'NN'),
 ('personality', 'NN'),
 ('food', 'NN'),
 ('.', '.'),
 ('Biaggio', 'NNP'),
 ("'s", 'POS'),
 ('much', 'JJ'),
 ('better', 'RBR'),
 ('pick', 'JJ'),
 ('youre', 'NN'),
 ('going', 'VBG'),
 ('italian', 'JJ'),
 ('-', ':'),
 ('family', 'NN'),
 ('owned', 'VBD'),
 (',', ','),
 ('home', 'NN'),
 ('made', 'VBD'),
 ('recipes', 'NNS'),
 (',', ','),
 ('people', 'NNS'),
 ('actually', 'RB'),
 ('CARE', 'NNP'),
 ('like', 'IN'),
 ('food', 'NN'),
 ('.', '.'),
 ('You', 'PRP'),
 ('dont', 'VBP'),
 ('get', 'VB'),
 ('pizzeria', 'JJ'),
 ('casino', 'NN'),
 ('.', '.'),
 ('I', 'PRP'),
 ('dont', 'VBP'),
 ('care', 'JJ'),
 ('say', 'VBP'),
 ('...', ':')]

In [9]:
#nltk.download('tagsets')
nltk.help.upenn_tagset('NN')

NN: noun, common, singular or mass
    common-carrier cabbage knuckle-duster Casino afghan shed thermostat
    investment slide humour falloff slick wind hyena override subhumanity
    machinist ...

## Noun / noun phrase filtering

In [10]:
nouns = []
for tt in tagged_text:
    tag = tt[1]
    if tag in ['NN','NNP','NNS','NNPS']:
        nouns.append(tt[0])
nouns

['pizza',
 'okay',
 'Biaggio',
 'Flamingo',
 '/',
 'Fort',
 'Apache',
 'chef',
 'MUCH',
 'NY',
 'style',
 'pizza',
 'pizzeria',
 '@',
 'Cosmo',
 'quality',
 'lack',
 'personality',
 'food',
 'Biaggio',
 'youre',
 'family',
 'home',
 'recipes',
 'people',
 'CARE',
 'food',
 'casino']

## Stemming

In [11]:
from nltk.stem import PorterStemmer
ps = PorterStemmer()
for w in nouns:
    print(w + '\t:\t' + ps.stem(w))

pizza	:	pizza
okay	:	okay
Biaggio	:	biaggio
Flamingo	:	flamingo
/	:	/
Fort	:	fort
Apache	:	apach
chef	:	chef
MUCH	:	much
NY	:	NY
style	:	style
pizza	:	pizza
pizzeria	:	pizzeria
@	:	@
Cosmo	:	cosmo
quality	:	qualiti
lack	:	lack
personality	:	person
food	:	food
Biaggio	:	biaggio
youre	:	your
family	:	famili
home	:	home
recipes	:	recip
people	:	peopl
CARE	:	care
food	:	food
casino	:	casino

## Fuzzy matching

In [12]:
from fuzzywuzzy import fuzz
from fuzzywuzzy import process
query = 'Barack Obama'
choices = ['Barack H Obama', 'Barack H. Obama', 'B. Obama']
# Get a list of matches ordered by score, default limit to 5
process.extract(query, choices)
# [('Barack H Obama', 95), ('Barack H. Obama', 95), ('B. Obama', 85)]
 
# If we want only the top one
process.extractOne(query, choices)
# ('Barack H Obama', 95)

('Barack H Obama', 95)

# 3.2 Frequent features identification